# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignora todo dentro de 'dist', EXCEPTO el contenido importante
/dist/*

# ¡PERO NO ignores el 'index.html' ni la carpeta de 'assets'!
!/dist/index.html
!/dist/assets/